<!DOCTYPE html>
<html ng-app="DollarTrackerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dollar Tracker</title>
    <script>
        var app;
        var RANDOM = Math.random();
        // var baseApi = "http://localhost:54973/";
    </script>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" />

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-superhero.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-simplex.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
</head>
<body>
    <div ng-include="'app/common/header.html'" include-replace></div>

    @*<div ng-include="'app/common/sidebar.html'" include-replace></div>*@
  
    <app-body></app-body>
        <div class="container-fluid body-content">
            @RenderBody()
        </div>
        <div>
            <footer class="text-center">
                <p><i class="glyphicon glyphicon-heart"></i> - DollarTracker Application</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/app/all")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/angular-bootstrap-datepicker.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
           
        </script>
</body>
</html>
