<!DOCTYPE html>
<html ng-app="DollarTrackerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dollar Tracker</title>
    <script>
        var app;
        var RANDOM = Math.random();
        // var baseApi = "http://localhost:54973/";
    </script>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.5/css/jquery.dataTables.min.css" />

    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/sidebar.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap-superhero.css" rel="stylesheet" />*@
    @*<link href="~/Content/bootstrap-simplex.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dollar Tracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                 </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="login">Login</a></li>
                    <li><a ui-sref="register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="pin"><i class="glyphicon glyphicon-menu-hamburger"></i></a></li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Side bar-->
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a ui-sref="/" data-toggle="tooltip" title="Dashboard" data-placement="right">
                            Dashboard<span style=" font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li><a href="#" data-toggle="tooltip" title="Profile" data-placement="right">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Messages" data-placement="right">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                    <li><a href="#" data-toggle="tooltip" title="Settings" data-placement="right">Settings <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--End side bar-->
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <div>
        <footer class="text-center">
            <p><i class="glyphicon glyphicon-heart"></i> - DollarTracker Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/app/all")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular-bootstrap-datepicker.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(function () {

            $('#pin').on('click', function () {
                if ($('.sidebar').css('margin-left') === '-160px')
                    $('.sidebar').css('margin-left', 0)
                else
                    $('.sidebar').css('margin-left', -160)
            });

        })
    </script>
</body>
</html>
